bidict
GitPython
gprof2dot
graphviz
leven
networkx
numba
numpy
pexpect
prettytable
pytest
pytest-cov
pytest-dependency
pytest-doctestplus
pytest-subtests
setuptools_scm
seutil >= 0.7.1
strace-parser
tqdm
