bidict
diff_match_patch
GitPython
gprof2dot
graphviz
leven
networkx
numba
numpy
pandas
pexpect
prettytable
psutil
pytest
pytest-cov
pytest-dependency
pytest-doctestplus
pytest-subtests
PyYAML
recordclass <= 0.18.0.1
scipy
setuptools_scm
seutil >= 0.7.1
strace-parser
tqdm
typing-inspect
traceback-with-variables
